/*
Colors from https://brand.txst.edu/visual-identity/colors.html
#501214 -Texas State Maroon
#AC9155 - Texas State Dark Gold
#D7BD8A - Texas State Bright Gold
#EA664D - Eat 'Em Up, Peach
*/

body {
   background-color: #501214;
   color: #AC9155;
   text-align: center;
   margin: 0;
 }
h1 {
  color: #AC9155;
  padding: 5px;
  margin: 0;
}
#body-container {
  background-color: #D7BD8A;
  max-width: 1000px;
  margin: auto;
  min-height: 100vh;
  border: 2px solid #D7BD8A;
  border-radius: 25px;
  overflow: hidden;
}

#header {
  background-color: #501214;

}

#profile-picture {
  float: left;
}

#welcome-text {
  padding-top: 25px;
  font-size: 25px
}

#research-interests {
}
