/*
Colors from https://brand.txst.edu/visual-identity/colors.html
#501214 -Texas State Maroon
#AC9155 - Texas State Dark Gold
#EA664D - Eat 'Em Up, Peach
*/

body {
   background-color: #501214;
   color: #AC9155;
   text-align: center;
   margin: 0;
 }
h1 {
  color: #AC9155;
  padding: 5px;
  margin: 0;
}
#body-container {
  background-color: ##EA664D;
  max-width: 1000px;
  margin: auto;
  min-height: 100vh;
  border: 2px solid ##EA664D;
}

#header {
}

#profile-picture {
}

#welcome-text {
}

#research-interests {
}
